.button{
    width: 203px;
    height: 70px;
    border: none;
}

.primary{
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    background-color: #57B8FF;
    border: none;
    font-size: 18px;
    line-height: 28px;
}

.whiteeEdging{
    width: 178px;
    height: 62px;
    color: #fff;
    border: 1px solid #fff;
    font-family: 'Orbitron', sans-serif;
    background-color: #57B8FF;
    font-size: 18px;
    line-height: 28px;
}

.primary:hover{
    border: 1px solid #fff;
    transform: translate(0, 0.25em);
}

.whiteeEdging:hover{
    border: 1px solid #316a92;
    transform: translate(0, 0.25em);
}

@media screen and (max-width: 412px) {
    .button{
        width: 100px;
        height: 50px;
    }
    
    .primary{
        font-size: 12px;
        line-height: 20px;
    }

    .whiteeEdging{
        font-size: 13px;
    }
}  