.footer{
    width: 1440px;
    height: 507px;
    margin-top: auto;
    background-color: #222730;
    overflow: hidden;
}

.containerInfo{
    display: flex;
    width: 1200px;
    height: 317px;
    padding: 129px 60px 0 60px;
}

@media screen and (max-width: 412px) {
    .footer{
        height: 900px;
    }
    
    .containerInfo{
        padding-top: 80px;
        padding-left: 80px;
        flex-direction: column;
    }
}