@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
  height: 100%;
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  background-color: black;
  -moz-osx-font-smoothing: grayscale;
}


