.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 1320px;
    height: 62px;
    margin-top: 20px;
    position: absolute;
}

.containerActiv{
    display: flex;
    align-items: center;
    width: 260px;
    height: 62px;

}

@media screen and (max-width: 412px) {
    .header{
       margin-left: 20px;
       width: 360px;
       height: 160px;
       margin-top: 0;
    }

    .containerActiv{
        margin-top: 40px;
        height: 150px;
        flex-direction: column;
    }
    
}  